@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
    font-family: a=system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}